.NewPost {
    width: 80%;
    margin: 20px auto;
    border-radius: 10px;
    text-align: center;
    padding: 20px 15px;
    background-color: #fff;
    box-shadow: 0 1px 2px 0 rgba(0,0,0,0.14);
}

.NewPost label {
    display: block;
    margin: 10px auto;
    text-align: center;
    font-weight: bold;
}

.NewPost input,
.NewPost textarea,
.NewPost select {
    display: block;
    width: 80%;
    box-sizing: border-box;
    border: 1px solid black;
    outline: none;
    font: inherit;
    margin: auto;
}

.NewPost select {
    margin-bottom: 35px;
}

.NewPost button {
    margin: 15px 0;
    height: 47px;
    padding: 0 30px;
    font: inherit;
    border-radius: 24px;
    background: #fff;
    outline: none;
    background-clip: padding-box;
    transition: all .25s ease-in-out;
    border: 1px solid rgba(0,0,0,0.14);
}

.NewPost button:hover,
.NewPost button:active {
    border: 1px solid rgba(0,0,0,0.3);
}