.Post {
    width: 200px;
    padding: 16px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 1px 2px 0 rgba(0,0,0,0.14);
    margin: 10px;
    box-sizing: border-box;
    cursor: pointer;
    background-color: #fff;
    transition: all .25s ease-in-out;
}

.Author {
    margin: 16px 0;
    color: #ccc;
}